*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  
}
header {
  background-color: #c1392b;
}
.nav {
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -ms-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  right: -20rem;
  padding: 6rem 2rem 2rem 2rem;
  position: absolute;
  top: 0;
  width: 20rem;
  z-index: 1;
}

.nav.expanded { 
    right: 900px; 
}

.nav ul {
  position: absolute;
  display: flex;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: -360px 0 0 0;
  
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 0 80px;
}

.nav-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 2rem;
    right: 2rem;
    position: absolute;
    top: 2rem;
    width: 3rem;
    z-index: 2;
  }
  
  .nav-toggle:hover { 
      opacity: 0.8; 
    }
  
  .nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: white;
    content: '';
    height: 0.4rem;
    width: 100%;
  }
  
  .nav-toggle .nav-toggle-bar { 
      margin-top: 0; 
    }
  
  .nav-toggle .nav-toggle-bar::after { 
      margin-top: 0.8rem; 
    }
  
  .nav-toggle .nav-toggle-bar::before { 
      margin-top: -0.8rem; 
    }
  
  .nav-toggle.expanded .nav-toggle-bar { 
      background: transparent; 
    }
  
  .nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background: white;
    margin-top: 0;
  }
  
  .nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
.reussir{
  color: white;
  text-align: center;
  margin-top: 10%;
  font-size: 130%
}
.methodes{
  background-color: #922b22;
  width: 250px;
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
  padding: 6px;
  margin-top: 10%;
  margin-bottom: -20px;
  position: relative;
  z-index: 9999;
}
.detente{
  text-align: center;
  background-color: white;
  width: 800px;
  font-size: 200%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8% 14%;
  position: relative;
  z-index: 2;
}
.texte{
  margin-top: 3%;
  font-size: 160%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  z-index: ;
  width: 979px;
}
.watch{
 display: flex;
 margin-top: 10%;
 justify-content: space-around;
 margin-left: 17%;
 margin-right: 20%;
}

.paragraphe1{
 width: 900px;
 font-size: 160%;
 margin-right: 20%;
 text-align: justify;
}
.imageone img{
  width: 370px;
  margin-top:
}
.paragraphe2{
 width: 900px;
 font-size: 160%;
 margin-right: %;
 margin-left: 18%;
 text-align: justify;
}
.imagetwo img{
  width: 370px;
}
.fond-simplon img{
  position: absolute;
  width: 1200px;
  right: 1050px;
  top: 840px;
}

.logo {
  margin: 10px;
}